/*
===============
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
===============
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
===============
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-grey-10);
  font: var(--ff-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* navbar */
.nav-center {
transform: translate(-100%);
  height: 100vh;
  overflow: hidden;
  display: grid;
  padding: 0 0 0 0.5rem;
  grid-gap: 1rem;
  grid-template-rows: 2fr 8fr 2fr;
  grid-template-columns: 1fr;
  background: white;
  transition: transform 0.3s linear;

}

.show-nav-center {
  transform:translate(0);

}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 1rem;
}

.nav-logo {
  height: 40px;
}

.close-btn {
  background: transparent;
  border-style: none;
  font-size: 2rem;
  color: red;
  cursor: pointer;
  transition: transform 300ms linear 0ms;
}

.close-btn:hover {
  transform: rotate(360deg);
}

/* Nav-button */
.links {
  padding: 0 1.2rem;
  line-height: 4rem;
  font-size: 1.5rem;
  opacity: 0.7;
  overflow: hidden;
  letter-spacing: 0.1rem;
  transition: all 0.3s linear;
}

.links a {
  display: block;
  color: black;
  transition: all 0.3s linear;
}

.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding: 0 1rem;
}

.social-icons {
  align-self: center;
  justify-self: center;
}

.social-icons li {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.social-icons a {
  color: var(--clr-primary-5);
}

.hide-toggle-bar {
  height: 0;
  overflow: hidden;
}

.nav-toggle {
  background: transparent;
  border-style: none;
  font-size: 2.5rem;
  color: var(--clr-primary-3);
  margin-top: 1.8rem;
  cursor: pointer;
  position: fixed;
  top:1%;
  right:9%;
  animation-name: zooming;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.nav-toggle:hover {
  opacity: 0.5;
}

@media screen and (min-width : 800px) {
  * {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
  }

  nav {
    display: grid;
    grid-template-columns: 4fr 8fr;
  }

  .hide-toggle-bar {
    height: auto;
  }

.close-btn{
  margin-left:20px;
}

}

@keyframes zooming {
  0% {
    font-size: 2.5rem;
  }

  50% {
    font-size: 2rem;
  }

  100% {
    font-size: 2.5rem;
  }
}
